{% extends 'index.html' %}
{% load static %}
{% block title %}Success!{% endblock %}
{% block content %}
    <style>
    .successbtn{
        border: 1px solid #9f9f9f;
        border-radius: 3px;
        padding: 20px 100px;
        background: none;
        cursor: pointer;
       }
    </style>
    <br> <br> <br> <br> <br> <br>
    <h1 class="center">操作失败！请重试</h1>
     <br> <br> <br> <br> <br>
    <div class="center">
        <div class="btn">
        <a class="successbtn" href="{% url 'index' %}">回到首页</a>
    </div>
    </div>
 <br> <br> <br> <br> <br> <br> <br>
{% endblock %}
